
  .hidden{
   visibility: collapse;
      width: 0px;
      height: 0px;
  }

  .InspectUpgradesScreen{
   horizontal-align: center;
      margin-top: 50px;
   vertical-align: top;
   flow-children: right-wrap;
   width: 920px;
  }

  .AbilityCategory{
   flow-children: down;
   background-color: gradient( linear, 0% 0%, 0% 100%, from( #292929cc ), to( #74747427 ) );
      width: 100%;
      border-radius: 10px;
  }

  .InspectUpgrades{
   flow-children: down;
      overflow: squish scroll;
      width: 450px;
      margin: 4px;
      border-radius: 10px;
  }
.BGColor_2  {background-color: gradient( linear, 0% 0%, 0% 100%, from(#00ff00cc), to(#00c200cc));}
.BGColor_3  {background-color: gradient( linear, 0% 0%, 0% 100%, from(#ff0000cc), to(#be0000cc));}
.BGColor_6  {background-color: gradient( linear, 0% 0%, 0% 100%, from(#f3c909cc), to(#a58700cc));}
.BGColor_7  {background-color: gradient( linear, 0% 0%, 0% 100%, from(#FF6C00cc), to(#d15700cc));}
.BGColor_8  {background-color: gradient( linear, 0% 0%, 0% 100%, from(#3455FFcc), to(#0021c5cc));}
.BGColor_9  {background-color: gradient( linear, 0% 0%, 0% 100%, from(#65d413cc), to(#51c200cc));}
.BGColor_10 {background-color: gradient( linear, 0% 0%, 0% 100%, from(#815336cc), to(#5c2300cc));}
.BGColor_11 {background-color: gradient( linear, 0% 0%, 0% 100%, from(#1bc0d8cc), to(#006f80cc));}
.BGColor_12 {background-color: gradient( linear, 0% 0%, 0% 100%, from(#c7e40dcc), to(#6c7c00cc));}
.BGColor_13 {background-color: gradient( linear, 0% 0%, 0% 100%, from(#8c2af4cc), to(#470094cc));}
  #HeroMainUpgrades{
   flow-children: right;
  }
  .AbilityMain{
   flow-children: down;
      margin-left: 2px;
  }
  #AbilityMainUpgrades{
   flow-children: down;
  }
  .HeroMain{
   flow-children: right;
  }
  .AbilityChange{
   flow-children: right;
   overflow: noclip;
   margin-bottom: 3px;
   flow-children: right;
   background-color: gradient( linear, 0% 0%, 0% 100%, from( #868686cc ), to( #575757cc ) );
   vertical-align: center;
      padding-left: 44px;
  }
  #HeroMainImage{
      width: 40px;
      height: 60px;
   border-radius: 10px;
  }
  #AbilityMainImage{
      width: 40px;
      height: 40px;
      margin-bottom: -12px;
      margin-left: 4px;
      z-index: 3;
  }
  #AbilityChangesLabelKey{
      margin-left: 5px;
      font-weight: normal;
      letter-spacing: 2px;
      margin-right: 4px;
      color: rgb(255, 255, 255);
      font-size: 15px;
      text-shadow: 2px 2px 1px rgb(0, 0, 0);
      vertical-align: center;
      text-align: center;
      text-transform: uppercase;
  }
  #AbilityChangesLabelValue{
      margin-left: 5px;
      font-weight: normal;
      letter-spacing: 2px;
      margin-right: 4px;
      color: rgb(255, 255, 255);
      font-size: 15px;
      text-shadow: 2px 2px 1px rgb(0, 0, 0);
      vertical-align: center;
      text-align: center;
      text-transform: uppercase;
  }

  .UpgradeInspectButton{
   background-image: url("file://{images}/custom_game/upgrade_list_png.png");
      background-size: 26px;
  }
 .reported{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #e92929 ), to( #b80000 ) );
  box-shadow: fill #ff0000a2 0px 0px 16px -5px;
 }

 .HeroMain{
    flow-children: down;

    width: 100%;
 }
 .HeroMainOwner{
    flow-children: right;


    height: 36px;
 }
 #HeroMainImage{
    flow-children: right;
    height: 36px;
    width: 64px;
 }

 #HeroMainAvatar{
    flow-children: right;
    height: 36px;
    width: 36px;
 }
 #HeroMainUpgrades{
    flow-children: down;
    width: 100%;
}