
 .hidden{

  visibility: collapse;
 }
 #ButtonBar_SoulCollector{
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
     background-image: url("file://{images}/custom_game/soul_collector_list_png.png");
 }

 #WindowRoot{
  flow-children: right;
 }
 .SoulCollector{
     margin-top: 42px;
     horizontal-align: center;
  flow-children: right;
     z-index: -10;
 }

 .spacer{
     width: 150px;
 }

 .sous_bg{
  width: 123px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
     background-image: url("file://{images}/custom_game/ui/button_m_01_png.png");
 }





 .souls_count{
  font-size: 24px;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
}