
.UniversalUpgradeUI{
    flow-children: down;
    horizontal-align: center;
    margin-top: 64px;
    max-width: 800px;
    max-height: 800px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #333333 ) );
}

#CloseButton {
    background-color: purple;
}

.Header{
    flow-children: right;
    width: 100%;
}
.HeaderText{
    horizontal-align: center;
    vertical-align: center;
}
#Title{
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000000;
    horizontal-align: center;
    vertical-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 3px 1.0 #c08d00;
}

#UpgradeOptions {
    width: 800px;
    height: 800px;
    overflow: scroll scroll;
}

.UpgradeOption {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    box-shadow: fill #00000099 0px 0px 4px 0px;
}

#UpgradeImage {
    margin: 2px;
    height: 100%;
    width: 100%;
    box-shadow: fill #000000aa 0px 1px 16px 1px;
    border: 1px solid black;
}

#UpgradeBorder {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border-radius: 50%;
    background-image: url("s2r://panorama/images/hud/reborn/buff_outline_psd.vtex");
    background-size: 95% 95%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    wash-color: #444444;
}


#UpgradeCostContainer {
    height: 96px;
    width: 96px;
    
}
#UpgradeCost {
    vertical-align: bottom;
    horizontal-align: right;

    color: #8f21bb;
       font-size: 20px;
       font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000000;
    
}
#UpgradeLevel {
    vertical-align: top;
    horizontal-align: center;
       font-size: 20px;
       font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000000;
    
}
#UpgradeName {
    horizontal-align: center;
    font-size: 18px;
    font-weight: bold;
    
}

.hidden
{
	visibility: collapse;
}
.cool_style {
    background-color: red;
    box-shadow: fill #ff0000aa 0px 1px 16px 1px;
    overflow: noclip noclip;
    
}